<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>eliminar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>ID #{{usuario.id}}</ion-card-subtitle>
      <ion-card-title>Realmente desea eliminar a {{usuario.username}}?: </ion-card-title>
    </ion-card-header>
    <ion-card-content>
<ion-button (click)="EliminarUsuario(usuario.id)" expand="block" color="danger" shape="round">
  Eliminar
</ion-button>

    </ion-card-content>
  </ion-card>
</ion-content>

