<ion-header color="#F2F2F2"[translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="mostrarMenu()" color="warning">
        <ion-icon slot="icon-only" name="menu-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>RegistrApp</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Actualizar </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
   
  </ion-card>

  <form>
    
    <ion-item >
      <ion-label>Usuario: </ion-label>
      <ion-input type="text" name="txtUsername" [(ngModel)]="usuario.username" disabled></ion-input>
    </ion-item> 

    <ion-item>
      <ion-label position="floating">Password: </ion-label>
      <ion-input type="password" name="txtPass" [(ngModel)]="usuario.password"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Rol: </ion-label>
      <ion-select name="txtRole"  [(ngModel)]="usuario.role">
        <ion-select-option value="Academico">Academico</ion-select-option>
        <ion-select-option value="Servicios">Servicios</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-row>
      <ion-col>
        <ion-button (click)="ActualizarUsuario()">Actualizar Usuario</ion-button>
      </ion-col>
    </ion-row>
  </form>

</ion-content>
